
<div id="sign-in">

  <img src="<%=image_url('planet.png')%>" class="planet">

  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 text-center">

        <img src="<%=image_url('plane_with_path.png')%>" class="airplane">

        <h1>Sign in</h1>
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <div class="input-group with-q-mark">
            <input type="password" placeholder="Password" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default">
                <img src="<%=image_url('forgot_password.png')%>">
              </button>
            </span>
          </div>
        </div>
        <div class="form-group log-in">
          <input type="button" value="Log In" class="btn btn-secondary">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid" id="sign-in-footer">

  <div class="row">
    <div class="col-xs-1 padded">
      <div class="pull-right">
        <img src="<%=image_url('notice.png')%>" class="notice pull-left">
      </div>
    </div>

    <div class="col-xs-8 padded">
      <p>
        This forum is only for current and past students of HFC Technology Academy.<br>
        If you would like more information on the academy or to join our mailing list, please <a href="http://www.hfcacademy.com">click here</a>.
        <br>
      </p>
      <p>
        &copy;2014 HFC Alumni Forum All Rights Reserved.
      </p>
    </div>

    <div class="col-xs-3 text-right">
      <img src="<%=image_url('forum_logo_lrg.png')%>" class="hfc-logo-lrg">
    </div>
  </div>
</div>
</div>
